.canvas{
  min-height: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.component-wrapper{
  margin:10px;
  border: 1.8px dashed #fff;
  padding:10px;
  border-radius: 3px;
  cursor: pointer;
  &:hover{
    border-color: #f26ca1ff;
  }
}

.component{
  pointer-events: none;// 屏蔽鼠标行为
}