.lib-wrapper{
  overflow: scroll;
}
.component-wrapper{
  margin: 10px 0;
  background-color:#f9f5f5ff;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  &:hover{
    border: 1px dashed #b5b5b5
  }
}
.component{
  pointer-events: none;
}
