.header-wrapper{
  background-color: #fff;
  border-bottom: 1px solid #cac9c9;
  padding: 16px 0;
  // margin: 0 16px;
  // margin-top: 12px;
  // border-radius: 6px;
  // box-shadow: 2px 2px 10px #7c7c7c; 
}
.header{
  display: flex;
  // margin: 0 16px;
  align-items: center;
  h5{
    line-height: 1;
    margin: 0;
  }
  .left{
    flex:1;
  }
  .main{
    flex:1;
    text-align: center;
  }
  .right{
    flex:1;
    text-align: right;
  }
} 
