.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #eaeaea;
}

.content-wrapper{
  flex: auto;
  overflow: hidden;
  // padding:12px 0;
}

.content{
  // margin:0 16px;
  display: flex;
  height: 100%;
  .left{
    width: 285px;
    background-color: #ffffff;
    padding:0 12px;
    border-right: 1px solid #cac9c9;
    overflow-y: auto;
    // border-radius: 6px;
    // box-shadow: 2px 4px 15px #7c7c7c;
  }
  .main{
    flex:1; 
    position: relative;
    overflow: hidden; // 最外层溢出不滚动
    .canvas-wrapper{
      position:absolute;
      width: 350px;
      height:712px;
      top:50%;
      left:50%;
      transform: translateX(-50%) translateY(-50%);
      overflow:auto; // 内层滚动
      box-shadow: 2px 4px 15px #a9a9a9; 
    }  
  }
  .right{
    width: 300px;
    background-color: #ffffff;
    padding:0 12px;
    border-left: 1px solid #cac9c9;
    overflow-y: auto;
    // border-radius: 6px;
    // box-shadow: 2px 4px 15px #7c7c7c;
  }
}

