.container {
  min-height: 100%;
  overflow-y: auto;
  background-color: #fff;
}

.component-wrapper{
  margin: 10px 0;
  background-color:#f9f5f5ff;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  &:hover{
    border: 1px dashed #b5b5b5
  }
}

.selected {
  border: solid;
  border-color: #f26ca1ff !important;
}

.component {
  pointer-events: none;
  opacity: .8;
}