.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #eaeaea;
}
.content-wrapper{
  flex: auto;
  overflow: hidden;
}
.content{
  display: flex;
  height: 100%;
  .left{
    width: 285px;
    background-color: #ffffff;
    padding: 0 12px;
    border-right: 1px solid #cac9c9;
    overflow-y: auto;
  }
  .main{
    flex: 1;
    position: relative;
    background-color: #ffffff;
    padding: 12px;
    overflow-y: auto;
  }
  .right{
    width: 300px;
    background-color: #ffffff;
    padding: 12px;
    border-left: 1px solid #cac9c9;
    overflow-y: auto;
  }
}