.container{
  min-height: calc(100vh - 64px - 71px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  
  .button{
    font-size: 20px;
    font-style: italic;
    color: #ebbba7;
    &:hover{
      color: #cfc7f8;
    }
  }
}