.container{
  margin-bottom: 20px;
  padding:10px;
  border-radius: 5px;
  background-color: rgb(252, 220, 226);

  &:hover{
    box-shadow: 0 4px 12px gray;
  }
}

.title{
  display: flex;
  .left{
    flex:1;
  }
  .right{
    flex:1;
    text-align: right;
    font-size:10px;
  }
}

.button-container{
  display: flex;
  .left{
    flex:1;
  }
  .right{
    flex:1;
    text-align: right;

    button{
      color: red;
    }
  }
}